---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '@/styles/index.sass'

export interface Props {
  title: string
  description: string
  keywords?: string[]
  image?: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title, description, image = '/placeholder-social.jpg', keywords = [] } = Astro.props
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/wiki.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{`${title ? title + ' | ' : ''}Project:EPB - epb.wiki`}</title>
<meta name="title" content={title} />
<meta name="description" content={description || '「万界规划局」项目组官方网站,Project:EPB'} />
<meta name="keywords" content={`${keywords ? keywords.join(',') + ',' : ''}epb,project-epb,everything planning bureau,万界规划局,将来过去时,小鱼君,机智的小鱼君,将来过去时官网,个人博客,个人网站`} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
